/*cuerpo*/

body {
    background-color: #bfc7b9;
    font-family: "Josefin Sans", sans-serif;
  }
  .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }
  .grid-main {
    padding-top: 30px;
    width: 100%;
  }
  .row {
    margin-bottom: 20px;
  }
  .col {
    display: flex;
    align-items: center;
  }
  .image-index {
    width: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px;
    margin-left: 8%;
  }
  .grid-main p {
    text-align: center;
  }
  /*fin cuerpo*/