/*catalogo*/
.header-catalogo {
    border: 2px solid black;
    background-color: #85907a;
    position: fixed;
    width: 100vw;
    margin-bottom: 50px;
  }
  .grilla-contenedor {
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 30px;
    column-gap: 0;
  }
  .catalogo-imagen img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    z-index: 1;
  }
  .catalogo-imagen {
    transition: all 0.75s;
  }
  .main-catalogo {
    margin-top: 150px;
  }
  
  .catalogo-imagen :hover {
    transform: scale(1.03);
    z-index: 1;
  }
  
  @media only screen and (max-width: 480px) {
    .grilla-contenedor {
      display: flex;
      flex-wrap: wrap;
      width: 65%;
      margin-left: 17%;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 790px) {
    .grilla-contenedor {
      display: grid;
      grid-template-rows: repeat(3, 250px);
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin: 30px;
      margin-bottom: 30px;
      column-gap: 0;
    }
  }
  /*fin catalogo*/