/*contacto*/
h1 {
    text-align: center;
  }
  .mainContacto {
    margin-top: 160px;
  }
  textarea {
    width: 100%;
    margin-top: 5px;
  }
  .btn-success {
    background-color: #85907a;
    border-color: #85907a;
  }
  .btn-success:hover {
    background-color: #a6b595;
    border-color: black;
  }
  .form-control{
    margin-bottom: 5px;
  }
  
  /*fin contacto*/