/*header*/
#inicioCatalogo{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #85907a;
}
.negrita {
  font-weight: bolder;
}

.mayusculas {
  text-transform: uppercase;
}
nav {
  width: 100%;
  height: 85px;
  border-bottom: 0.5px black;
  z-index: 1;
  
  box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.3);
}
.ulNav {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ulNav li {
  width: 20%;
  text-align: center;
  list-style: none;
  font-family: mons;
  font-size: 20px;
  color: black;
}
.ulNav a {
  padding-left: 3px;
  text-decoration: none;
  color: blanchedalmond;
  text-align: center;
  transition: 0.5s;
}
.ulNav a:hover {
  font-weight: 900;
  font-size: 22px;
  color: blanchedalmond;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.boton-menu {
  background-color: none;
}

.dropdown {
  padding-top: 18.5px;
  padding-left: 30px;
}

.dropdown-menu {
  background: #a6b595;
  background: linear-gradient(153deg, #bfc7b9 30%, #a6b595 83%);
  margin: 0;
  padding: 0;
}

.dropdown-item {
  margin: 0;
  padding: 1em;
  padding-top: 18px;
  line-height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}
.dropdown-item a {
  height: 24px;
  padding-top: 10px;
}
.dropdown-item i {
  height: 24px;
  padding-right: 10px;
}
.logo {
  border-radius: 100%;
  width: 105px;
  height: 105px;
  margin-top: 10px;
}
.logoMediaQueries {
  width: 105px;
  height: 105px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.slogan {
  font-family: Alma;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  word-spacing: normal;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 768px) {
  #navMobile {
    display: none;
  }
}
.ulNav a:hover {
  font-weight: 900;
  transition: 0.5s;
  color: black;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
}
@media (max-width: 991px) {
  .ulNav li {
    font-size: 16px;
  }
  .ulNav a:hover {
    font-size: 16px;
    padding: 5px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 672px) {
  #navMobile p {
    font-size: 8px !important;
  }
}
@media (max-width: 767px) {
  #navDesktop {
    display: none;
  }
  #navMobile p {
    text-align: center;
    font-family: mons;
    font-size: 10px;
    line-height: 38px;
    letter-spacing: 0;
    position: absolute;
    top: 24.5px;
    left: 62%;
  }
}
@media (max-width: 575px) {
  #slogan {
    display: none;
  }
}
#logoHover {
  padding: 0%;
}

/*fin header*/
