* {
    margin: 0;
    padding: 0;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: blanchedalmond;
  }
  p {
    margin-bottom: 0;
  }